body {
  background-color: rgb(35, 56, 72);
  margin: 0;
  height: 100vh;
}

header {
  font-weight: 800;
  font-size: clamp(16px, 5vw, 80px);
  color: rgb(221, 177, 66);
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
}

p {
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 80px);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
  text-align: center;
}

label {
  font-weight: 700;
  font-size: clamp(16px, 2vw, 80px);
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.05em rgb(0, 0, 0);
}

input {
  font-weight: 700;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.281);
  color: aliceblue;
}

button {
  min-width: 140px;
  min-height: 60px;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5%;
}

.list {
  width: 50vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.317);
}
